doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/styles/global.css')
    script(src='/scripts/global.js')
    block head
  body
    .main-container
      .left-sidebar
        ul
          li
            a(href='/home') Home
          li
            a(href='/explore') Explore X
          li
            a(href='/notifications') Notifications X
          li
            a(href='/messages') Messages X
          li
            a(href='/bookmarks') Bookmarks
          li
            a(href=`/profile/${user.Username}`) Profile
        button(type='button', id='postButton') Post
        
        .profile
          img(src=`https://capstonemedia.s3.amazonaws.com/${user.Profile.profileImage}` alt='Profile Picture')
          .profile-info
            if user && user.Profile
              strong #{user.Profile.name}
              span @#{user.Username}
          ul.profile-dropdown
            li
              a(href='/settings') Settings
            li
              a(href='/logout') Logout

      .content
        block content

      .right-sidebar
        .search-bar
          input(type='text', placeholder='Search...', id='searchInput')
          button(type='button', id='searchButton') Search
        h3 Your Communities

    .modal#postModal
      .modal-content
        span.close-button &times;
        .modal-header
          img.profile-picture(src=`https://capstonemedia.s3.amazonaws.com/${user.Profile.profileImage}` alt='Profile Picture')
          textarea(placeholder='What is happening?!') 
        .modal-footer
          .actions
            button(type='button', id='submitPost') Post
            label.image-upload
              input(type='file', accept='image/*', id='imageInput', style='display: none;')
              i.icon-image  

