doctype html
html
    head
        title Messaging
        link(rel="stylesheet", href="/styles/messages.css")
        script(src="/scripts/chat.js")
    body
        .container
            .left-sidebar
                ul
                    li
                        a(href='/home') Home
                    li
                        a(href='/explore') Explore X
                    li
                        a(href='/notifications') Notifications X
                    li
                        a(href='/messages') Messages
                    li
                        a(href='/bookmarks') Bookmarks
                    li
                        a(href=`/profile/${loggedUser.Username}`) Profile
                button(type='button', id='postButton') Post
                .profile
                    img(src=`https://capstonemedia.s3.amazonaws.com/${loggedUser.Profile.profileImage}`, alt='Profile Picture')
                    .profile-info
                        if loggedUser && loggedUser.Profile
                            strong #{loggedUser.Profile.name}
                            span @#{loggedUser.Username}
            .messaging-area
                .sidebar
                    h2 Messages
                    ul
                        each chatUser in users
                            li(onclick=`startChat('${chatUser.Id}')`) // Call startChat function when clicked
                                img(src=`https://capstonemedia.s3.amazonaws.com/${chatUser.Profile.profileImage}`, alt=`${chatUser.Profile.name}'s Profile Picture`)
                                .details
                                    .name #{chatUser.Profile.name}
                .chat-column
                    if selectedUser
                        h2 #{selectedUser.Profile.name}
                        .messages#messages-container // Add an ID for JavaScript manipulation
                            each message in messages
                                .message
                                    if message.senderId === selectedUser.Id
                                        .received #{message.content}
                                    else
                                        .sent #{message.content}
                        form(onSubmit="sendMessage(event)") // Call sendMessage function on submit
                            input(type="text", id="messageInput", placeholder="Type a message")
                            button(type="submit") Send
                    else
                        .chat-placeholder
                            p Select a user to start chatting.
