doctype html
html
  head
    title Profile
    link(rel='stylesheet', href='/styles/profile.css')
    script(src="/scripts/profile.js", defer)
  body
    .main-container
      .left-sidebar
        ul
          li
            a(href='#') Home
          li
            a(href='#') Explore
          li
            a(href='#') Notifications
          li
            a(href='#') Messages
          li
            a(href='#') Bookmarks
          li
            a(href=`/profile/${user.Username}`) Profile
        button(type='button') Post
        
        // Profile component at the bottom
        .profile
          img(src='/path-to-your-image.png' alt='Profile Picture')
          .profile-info
            if user
              if user.Profile
                strong #{user.Profile.name}
                span @#{user.Username}

      .content
        .banner-image
          img(src=profile.Profile.bannerImage, alt="Banner Image")
        header.banner
          div.profile-pic
            img(src=profile.Profile.profileImage, alt="Profile Picture Placeholder")
          div.header-details
            h1 #{profile.Profile.name}
            p @#{profile.Username}
        section.user-info
          div.info-row
            p #{profile.Profile.bio}
          div.info-row
            span JOB | LOCATION | BIRTHDATE | JOINDATE
        section.stats
          div.stat 27 Followers
          div.stat 140 Following
        section.nav
          button.active(data-nav="posts") Posts
          button(data-nav="replies") Replies
          button(data-nav="media") Media
          button(data-nav="likes") Likes
        .feed
          article.post
            div.post-header

      .right-sidebar
        .trending
          h3 What’s happening
          ul
            li Trending 1
            li Trending 2
            li Trending 3
        .who-to-follow
          h3 Who to follow
          ul
            li User 1
            li User 2
            li User 3
