extends layout

block head
  link(rel='stylesheet', href='/styles/profile.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  script(src="/scripts/profile.js", defer)
  script(src="/scripts/follow.js", defer)

block content
  .banner-image
    img(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.bannerImage}`, alt="Banner Image")
  header.banner
    .profile-details
      .profile-pic
        img(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.profileImage}`, alt="Profile Picture")
      .header-details
        h1 #{profile.Profile.name}
        p @#{profile.Username}

    if user && user.Username === profile.Username
      button.edit-profile(type="button") Edit Profile
    else if user && user.Following && user.Following.includes(profile.Id)
      button.unfollow(data-profile-id=`${profile.Id}`) Unfollow
    else
      button.follow(data-profile-id=`${profile.Id}`) Follow

  section.user-info
    div.info-row
      p #{profile.Profile.bio}
  section.stats
    div.stat Followers: #{profile.Followers.length || 0}
    div.stat Following: #{profile.Following.length || 0}
  section.nav
    button.active(data-nav="posts") Posts
    button(data-nav="replies") Replies
    button(data-nav="media") Media
    button(data-nav="likes") Likes
  .feed#feedContainer  

  #editProfileModal.modal
    .modal-content
      span.close-button &times;
      h2 Edit Profile
      form(id="editProfileForm")
        label(for="profileName") Name
        input#profileName(type="text" value=`${profile.Profile.name}`)

        label(for="profileImagePreview") Profile Image
        img#profileImagePreview(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.profileImage}`, alt="Current Profile Image")
        input#profileImage(type="file" accept="image/*")

        label(for="bannerImagePreview") Banner Image
        img#bannerImagePreview(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.bannerImage}`, alt="Current Banner Image")
        input#bannerImage(type="file" accept="image/*")

        button(type="submit") Save Changes

  script.
    const userId = "#{profile.Id}";
    window.userLikes = !{JSON.stringify(user.Likes || [])};
    window.userBookmarks = !{JSON.stringify(user.Bookmarks || [])};
