//- profile.pug
extends layout

block head
  link(rel='stylesheet', href='/styles/profile.css')
  script(src="/scripts/profile.js", defer)

block content
  .banner-image
    img(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.bannerImage}`, alt="Banner Image")
  header.banner
    div.profile-pic
      img(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.profileImage}`, alt="Profile Picture")
    div.header-details
      h1 #{profile.Profile.name}
      p @#{profile.Username}
  section.user-info
    div.info-row
      p #{profile.Profile.bio}
  section.stats
    div.stat Followers: #{profile.Followers.length || 0}
    div.stat Following: #{profile.Following.length || 0}
  section.nav
    button.active(data-nav="posts") Posts
    button(data-nav="replies") Replies
    button(data-nav="media") Media
    button(data-nav="likes") Likes
  .feed
    article.post
      div.post-header
