extends layout

block head
  link(rel='stylesheet', href='/styles/profile.css')
  script(src="/scripts/profile.js", defer)

block content
  .banner-image
    img(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.bannerImage}`, alt="Banner Image")
  header.banner
    .profile-details
      .profile-pic
        img(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.profileImage}`, alt="Profile Picture")
      .header-details
        h1 #{profile.Profile.name}
        p @#{profile.Username}

    if user && user.Username === profile.Username
      button.edit-profile(type="button") Edit Profile
    else
      button.follow Follow

  section.user-info
    div.info-row
      p #{profile.Profile.bio}
  section.stats
    div.stat Followers: #{profile.Followers.length || 0}
    div.stat Following: #{profile.Following.length || 0}
  section.nav
    button.active(data-nav="posts") Posts
    button(data-nav="replies") Replies
    button(data-nav="media") Media
    button(data-nav="likes") Likes
  .feed
    article.post
      div.post-header

  #editProfileModal.modal
    .modal-content
      span.close-button &times;
      h2 Edit Profile
      form(id="editProfileForm")
        label(for="profileName") Name
        input#profileName(type="text" value=`${profile.Profile.name}`)

        label(for="profileImagePreview") Profile Image
        img#profileImagePreview(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.profileImage}`, alt="Current Profile Image")
        input#profileImage(type="file" accept="image/*")

        label(for="bannerImagePreview") Banner Image
        img#bannerImagePreview(src=`https://capstonemedia.s3.amazonaws.com/${profile.Profile.bannerImage}`, alt="Current Banner Image")
        input#bannerImage(type="file" accept="image/*")

        button(type="submit") Save Changes
